<nav class="navbar">
  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/weather" routerLinkActive="active">Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
    </li>
     <!-- Logout pushed to right -->
    <li class="nav-item logout-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<!-- Router outlet for routed views -->
<router-outlet></router-outlet>
