
 <h1 style="text-align: center;">Welcome to weather forcast Platform</h1>

<div class="auth-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #authForm="ngForm">
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
         #emailField="ngModel"
      />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button type="submit" [disabled]="!authForm.valid">Login</button>
  </form>
</div>
