.toggle-switch {
  display: flex;
  align-items: left;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;

  .unit-label {
    font-size: 14px;
    color: #030202;
    font-weight: 500;
    width: 100px;
    text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(16, 152, 64, 1);
      border-radius: 34px;
      transition: 0.4s;
      backdrop-filter: blur(6px);

      &::before {
        position: absolute;
        content: '';
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
      }
    }

    input:checked + .slider {
      background-color: rgba(0, 123, 255, 0.6);
    }

    input:checked + .slider::before {
      transform: translateX(18px);
    }
  }
}

.background{
    margin: 40px;
}